@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");

* {
  margin: 0;
  padding: 0;
}

div {
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* box-shadow: 5px 1px 15px #3c3834; */
}

h1 {
  font-size: 1.5rem;
  cursor: pointer;
}

.invisilayer {
  z-index: 87;
}

.remove h1 {
}

.hidden {
  visibility: hidden;
}

#enabled {
  visibility: visible;
}

.bismuth {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

#job {
  margin-right: 5vw;
  margin-bottom: 1vh;
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 7000ms;
}

#job.transition {
  opacity: 1;
}

#title {
  font-family: "Lexend Peta";
  color: #3c3834;
  font-size: 3rem;
  transition: opacity 2s;
  transition-timing-function: ease-out;
  letter-spacing: 0;
}

#title:hover {
  color: black;
}

#title.transition {
  opacity: 0;
}

.remove {
  position: relative;
  top: 90%;
  bottom: 0;
  height: 8vh;
  width: 100%;
  z-index: 97;
  display: flex;
  align-items: center;
  justify-content: center;
}

#remove,
#enable {
  font-family: "Lexend Peta";
  color: #33bb71;
  position: absolute;
  transition: color 1s;
  font-size: 1.25rem;
}

#remove.transition {
}

#remove:hover {
  color: #2da463;
}

.border {
  background-color: #3c3834;
  z-index: 101;
}

.grey-one,
.grey-three {
  width: 0;
  transition: width 1s;
  transition-delay: 7500ms;
}

.grey-one.transition,
.grey-three.transition {
  width: 1vw;
}

.grey-two,
.grey-four {
  height: 0;
  width: 100vw;
  transition: height 1s;
  transition-delay: 7500ms;
}

.grey-two.transition,
.grey-four.transition {
  height: 1vw;
}

.grey-three {
  right: 0;
}

.grey-four {
  bottom: 0;
}

.translate-right.transition {
  transition: transform 2s;
  transition-delay: 0s;
}

.translate-left.transition {
  transition: transform 2s;
  transition-delay: 0s;
}

.orange.translate-right.transition,
.light-green.translate-left.transition {
  transform: scaleX(0.08);
}

.orange.translate-left.transition,
.light-green.translate-right.transition,
.blue-green.translate-right.transition,
.blue.translate-left.transition {
  transform: scaleX(0.13);
}

.purple.translate-right.transition,
.red.translate-left.transition {
  transform: scaleX(0.16);
}

.fuchsia.translate-right.transition,
.silver-pink.translate-left.transition {
  transform: scaleX(0.18);
}

.blue-green.translate-left.transition,
.blue.translate-right.transition {
  transform: scaleX(0.27);
}

.purple.translate-left.transition,
.red.translate-right.transition {
  transform: scaleX(0.41);
}

.fuchsia.translate-left.transition,
.silver-pink.translate-right.transition {
  transform: scaleX(0.56);
}

.translate-down.transition {
  transition: transform 1s;
  transition-delay: 0s;
}
.translate-up.transition {
  transition: transform 1s;
  transition-delay: 0s;
}

.teal.translate-down.transition,
.lilac.translate-up.transition {
  transform: scaleY(0.33);
}

.teal.translate-up.transition,
.lilac.translate-down.transition {
  transform: scaleY(0.15);
}

.dark-red.translate-up.transition,
.magenta.translate-down.transition {
  transform: scaleY(0.2);
}

.dark-red.translate-down.transition,
.magenta.translate-up.transition {
  transform: scaleY(0.47);
}

.green.translate-up.transition,
.yellow.translate-down.transition {
  transform: scaleY(0.15);
}

.green.translate-down.transition,
.yellow.translate-up.transition {
  transform: scaleY(0.09);
}
.pink.translate-down.transition {
  transform: scaleY(0.6);
}

.orange {
  background-color: rgb(249, 197, 29, 1);
  z-index: 100;
  transition: transform 2s;
  transition-delay: 2500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: left;
}

.orange.transition {
  transform: scaleX(0.13);
}

.yellow {
  background-color: #e5ea23;
  z-index: 99;
  transition: transform 2s;
  transition-delay: 2500ms;
  transform-origin: top;
}

.yellow.transition {
  transform: scaleY(0.09);
}

.light-green {
  background-color: #85df75;
  z-index: 98;
  right: 0;
  transition: transform 1500ms;
  transition-delay: 2500ms;
  transform-origin: right;
}

.light-green.transition {
  transform: scaleX(0.08);
}

.light-green.open-music {
  transform: scaleX(0);
}

.green {
  background-color: #3ee48a;
  z-index: 97;
  bottom: 0;
  transition: transform 1s;
  transition-delay: 3000ms;
  transform-origin: bottom;
}

.green.transition {
  transform: scaleY(0.15);
}

.green.open-music {
  transform: scaleY(0);
}

.blue-green {
  background-color: #236768;
  top: 0;
  z-index: 96;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: transform 1s;
  transition-delay: 3250ms;
  transform-origin: left;
}

.blue-green.transition {
  transform: scaleX(0.27);
}

.blue-green.open-music {
  transform: scaleX(1);
}

.blue-green.open-film {
  transform: scaleX(0);
}

.teal {
  background-color: #2bb7c2;
  z-index: 95;
  transition: transform 1s;
  transition-delay: 3500ms;
  transform-origin: top;
  top: 0;
}

.teal.transition {
  transform: scaleY(0.15);
}

.teal.open-film {
  transform: scaleY(0);
}

.blue {
  background-color: #3becff;
  z-index: 94;
  transition: transform 1s;
  transform-origin: right;
  transition-delay: 3750ms;
  right: 0;
  top: 0;
}

.blue.transition {
  transform: scaleX(0.13);
}

.blue.open-film {
  transform: scaleX(0);
}

.lilac {
  background-color: #9d9cea;
  z-index: 93;
  bottom: 0;
  transition: transform 1s;
  transition-delay: 4000ms;
  transform-origin: bottom;
}

.lilac.transition {
  transform: scaleY(0.33);
}

.lilac.open-film {
  transform: scaleY(0);
}

.purple {
  background-color: #580b59;
  z-index: 92;
  transition: transform 1s;
  transition-delay: 4250ms;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform-origin: left;
  top: 0;
}

.purple.transition {
  transform: scaleX(0.41);
}

.purple.open-film {
  transform: scaleX(1);
}

.purple.open-writing {
  transform: scaleX(0);
}

.dark-red {
  background-color: #722534;
  z-index: 91;
  transition: transform 1s;
  transition-delay: 4500ms;
  transform-origin: top;
  top: 0;
}

.dark-red.transition {
  transform: scaleY(0.2);
}

.dark-red.open-writing {
  transform: scaleY(0);
}

.red {
  background-color: #7a0c06;
  z-index: 90;
  top: 0;
  right: 0;
  transition: transform 1s;
  transform-origin: right;
  transition-delay: 4750ms;
}

.red.transition {
  transform: scaleX(0.16);
}

.red.open-writing {
  transform: scaleX(0);
}

.magenta {
  background-color: #ae2e49;
  z-index: 89;
  bottom: 0;
  transition: transform 1s;
  transition-delay: 5250ms;
  transform-origin: bottom;
}

.magenta.transition {
  transform: scaleY(0.47);
}

.magenta.open-writing {
  transform: scaleY(0);
}

.fuchsia {
  background-color: #e15cb8;
  z-index: 88;
  transition: transform 1s;
  transition-delay: 5750ms;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform-origin: left;
  top: 0;
}

.fuchsia.transition {
  transform: scaleX(0.56);
}

.fuchsia.open-writing {
  transform: scaleX(1);
}

.pink {
  background-color: #f75eed;
  z-index: 87;
  transition: transform 1s;
  transition-delay: 6250ms;
  transform-origin: top;
  top: 0;
}

.pink.transition {
  transform: scaleY(0.24);
}

.silver-pink {
  background-color: #f988ff;
  z-index: 86;
  transition: transform 2s;
  transition-delay: 6750ms;
  transform-origin: right;
  right: 0;
  top: 0;
}

.silver-pink.transition {
  transform: scaleX(0.18);
}

.light-pink {
  background-color: #fbc9ef;
  z-index: 85;
}
